@charset "utf-8";
/* CSS Document */
	
	:root {
--main-radius:5px;
--main-padding:10px;
}

.container {
	
display:grid;
height:100vh;
grid-template-columns:0.3fr 1.5fr 0.5fr;
grid-template-rows:0.2fr 0.2fr .3fr 1.5fr 0.5fr;
grid-template-areas:"header header header"
					"nav nav nav"
					"title title sidebar"
					"main main sidebar"
					"footer footer footer";
					grid-gap:.2rem;
		}
header {
	background:#BF99BE;
	grid-area:header;
	border-radius:var(--main-radius);
	/*padding:var(--main-padding);*/
	background-image:url("file:///C|/Users/sshade/images/paws4ulogo.gif");
	background-repeat:no-repeat;
	background-size:cover;
	
	
		}
	header img {
		width:100%;
		height:auto;
			
		}
nav {
	background:#E4D8D8;
	grid-area:nav;
	border-radius:var(--main-radius);
	padding:var(--main-padding);
}

	/*vertical menu using a block display*/
	
	 nav ul li{
		margin:0;
		padding:0;
		list-style-type:none;
		display:inline-block;
		text-decoration:none;
		width:150px;
		text-align: center;
		/*border: 2px solid #0033CC;*/
		padding:5px;
		background-color:#e66465;
		color:#FFFFFF;
		margin-top:5px;
		margin-right:5px;
	}
	
	nav li a {
		text-decoration:none;
		/*display:inline;
		width:150px;
		text-align: center;
		border: 2px solid #0033CC;
		padding:5px;
		background-color:#e66465;
		color:#FFFFFF;
		margin-top:5px;
		margin-right:5px;*/
	}
	nav a:hover {
		background-color:#BF99BE;
		color:white;
		
	}	
		
.myimage {
		padding:5px;
	}

#title {
	grid-area:title;
	background:#BFCDA6;
	border-radius:var(--main-radius);
	padding:var(--main-padding);
}
main {
	
	background:#D2696A;
	grid-area:main;
	border-radius:var(--main-radius);
	padding:var(--main-padding);
}
#sidebar {
	background:#E4D8D8;
	grid-area:sidebar;
	border-radius:var(--main-radius);
	padding:var(--main-padding);
}
		
#sidebar img {
	margin:0 auto;
	display:block;
					
		}
#content1 {
	grid-area:content1;
	background:#C92DD1;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
#content2 {
	grid-area:content2;
	background:#5CC7C2;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
#content3 {
	background:#CEBC76;
	grid-area:content3;
	border-radius:var(--main-radius);
	padding-top:var(--main-padding);
}
footer {
	background:#B9EBB3;
	grid-area:footer;
	border-radius:var(--main-radius);
	padding:var(--main-padding);
	text-align:center;
}

	

/*font-family:"arial";
font-weight:bold;
test-transform:uppercase;
font-size:;*/

	
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
	
	
	
	/*make mobile*/
 @media only screen and (max-width:550px) {
.container {
	grid-template-columns:1fr;
	/*grid-template-rows:0.4fr 0.4fr 2.2fr 1.2fr;*/
	grid-template-rows:0.4fr 0.2fr 0.2fr 2.2fr 1.2fr 0.2fr;
grid-template-areas:
	
	"header"
	"nav"
	"title"
	"main"
	"sidebar"
	"footer"
}
	}
	/*make mobile*/
@media only screen and (max-width:550px) {
.container {
	grid-template-columns:1fr;
	grid-template-rows:0.4fr 0.2fr .2fr 2.2fr 1.2fr .2fr ;
	/*header nav title main aside footer*/
grid-template-areas:
	"header"
	"nav"
	"title"
	"main"
	"sidebar"
	"footer"
}
		}